h3 {
    color: white;
}

a:link {
    color: white;
    background-color: transparent;
    text-decoration: underline;
  }
  
  a:visited {
    color: red;
    background-color: transparent;
    text-decoration: underline;
  }
  
  a:hover {
    color: greenyellow;
    background-color: transparent;
    text-decoration: underline;
  }
  
  a:active {
    color: white;
    background-color: transparent;
    text-decoration: underline;
  }